#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* padding: 10px 0; Ajuste o padding conforme desejado; */
    z-index: 1;
    /* height: 50px; Ajuste a altura conforme desejado  */
}

#footer-2 {
    bottom: 0;
}

/*background da do header*/
.cabecalho {
    /* background-color: rgba(240, 253, 255) */
    background-color: rgb(25, 25, 25);
    height: 110px;
}

.formLogin {
    background-color: rgba(0, 0, 0, 0.8);
}

.loginPad {
    padding-top: 270px;
}

/*background da body*/
.corpo {
    /*background-image: url(/assets/background-prateleira.png);*/
    /*background: url(<path-to-image>), lightgray 0px -153.839px / 100% 130.047% no-repeat;*/
    /* background-position: 10vw; */
    font-family: Helvetica, Arial, sans-serif;
    background-color: #f2fdff;
    box-sizing: border-box;
    /* align-items: start; */
    min-height: 100vh;
    /* width: 99vw; */
    /* padding-top: 10px; */

}

.sombreado {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

/* .corpo-Login {
    background-image: url(/assets/background-prateleira-mono.svg);
    background-repeat: no-repeat;
    background-position: 0% -4%;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    padding: 200px;
} */

.corpo-Login {
    height: 99vh;
    width: 100vw;
    display: flex;
    align-items: center;
    /* padding: 20px; */
    /* Reduza o preenchimento para dispositivos móveis */
    /* padding-top: 200px; */
}

.background-login {
    background-image: url(/assets/Prancheta_11.png);
    background-size: 112%;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 112px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    filter: blur(1px);
}

.background-admin {
    height: 100vh;
    width: 100vw;
    background-color: #f2fdff;
    background-image: url(/assets/fundo-admin.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.background-compras {
    min-height: 90vh;
    /* width: 100vw; */
    background-color: #f2fdff;
    background-image: url(/assets/fundo-compras.png);
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: center;
    /* position: absolute; */
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.bg-cad-usuario {
    /* height: 100vh;
    width: 100vw; */
    min-height: 65vh;
    margin-top: 110px;
    /* margin-bottom: 50px; */
    background-color: #f2fdff;
    background-image: url(/assets/fundo-cad-usuario.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 0;
    margin-bottom: 70px;
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
}

.cartoes-home {
    margin-top: 140px;
}

.cartao-cima {
    width: 570px;
    background-color: rgb(153, 233, 190);
    border-radius: 10px;
    padding: 70px 50px;
    margin-bottom: 20px;
    position: relative;
}

.cartao-baixo {
    width: 570px;
    background-color: rgb(166, 201, 230);
    border-radius: 10px;
    padding: 70px 50px;
    position: relative;
}

.titulo-cartoes {
    font-weight: bold;
    font-size: 40px;
    color: #000;
}

.p-cartoes {
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

.p-compras {
    margin-top: 20px;
    color: rgb(27, 51, 95);
    font-weight: bold;
    font-size: 18px;
}

.botoes {
    width: 180px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 38px;
    margin-right: 50px;
}

.btn-cad-home {
    background-color: rgb(51, 51, 51);
    color: white;
    box-shadow: 5px 4px 1px -1px white;
    transition-duration: 0.2s;
    margin-bottom: 50px;
    font-size: 25px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-cad-home:hover {
    background-color: rgb(22, 22, 22);
    color: white;
    box-shadow: none;
}

.btn-at-home {
    background-color: rgb(27, 51, 95);
    color: white;
    box-shadow: 5px 4px 1px -1px white;
    transition-duration: 0.2s;
    font-size: 25px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-at-home:hover {
    background-color: rgb(15, 33, 61);
    color: white;
    box-shadow: none;
}

.btn-gerar-home {
    background-color: #179668;
    color: white;
    box-shadow: 5px 4px 1px -1px white;
    transition-duration: 0.2s;
    margin-bottom: 50px;
    font-size: 25px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-gerar-home:hover {
    background-color: #008134;
    color: white;
    box-shadow: none;
}

.bg-cad-usuario {
    /* height: 100vh;
    width: 100vw; */
    min-height: 65vh;
    margin-top: 110px;
    /* margin-bottom: 50px; */
    background-color: #f2fdff;
    background-image: url(/assets/fundo-cad-usuario.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 0;
    margin-bottom: 70px;
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
}

.bg-cad-categoria {
    min-height: 65vh;
    margin-top: 110px;
    background-color: #f2fdff;
    background-image: url(/assets/fundo-cad-categoria.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 0;
    margin-bottom: 70px;
}

.bg-cad-produto {
    min-height: 65vh;
    margin-top: 110px;
    background-color: #f2fdff;
    background-image: url(/assets/fundo-cad-produto.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    z-index: 0;
    margin-bottom: 70px;
}

.bg-at-produto {
    min-height: 65vh;
    margin-top: 110px;
    background-color: #f2fdff;
    background-image: url(/assets/fundo-at-produto.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
    z-index: 0;
    margin-bottom: 70px;
}

.bg-cad-gondola {
    min-height: 90vh;
    margin-top: 110px;
    background-color: #f2fdff;
    background-image: url(/assets/fundo-cad-categoria.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
    z-index: 0;
    margin-bottom: 70px;
}

.bg-cons-plan {
    /* min-height: 90vh; */
    margin-top: 110px;
    background-color: #f2fdff;
    /* background-image: url(/assets/fundo-cad-categoria.png); */
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
    z-index: 0;
}



.bg-gerar-plan {
    margin-top: 110px;
    background-color: #f2fdff;
    /* background-image: url(/assets/fundo-cad-categoria.png); */
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    position: relative;
    z-index: 0;
}

.btn-gera-plan {
    background-color: rgb(51, 51, 51);
    font-weight: bold;
    color: white;
    box-shadow: 5px 4px 1px -1px rgb(25, 25, 25);
    transition-duration: 0.2s;
    border-radius: 7px;
    width: 12vw;
}

.btn-gera-plan:hover {
    background-color: rgb(22, 22, 22);
    color: white;
    box-shadow: none;
}

.sel-cons-plan {
    border: 2px solid rgb(25, 25, 25);
    border-radius: 10px;
    cursor: pointer;
    appearance: none;
    background-image: url('/assets/icon-sel-cons-plan.png');
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: right;
}

.sel-gera-plan {
    width: 40vw;
    height: max-content;
}

.label {
    font-size: 15px;
    font-weight: bold;
    padding-left: 10px;
    padding-top: 20px;
    color: #151515;
}

.titulo {
    color: rgb(25, 25, 25);
    font-weight: bold;
    font-size: 30px;
    margin-left: 20px;
}

#logo {
    height: 85px;
}

.logo-link {
    margin-left: 90px;
}

.home-logout {
    padding-right: 90px;
}

#content-main {
    min-height: 100%;
    position: relative;
}

/* Adiciona um padding ao body quando o menu é aberto, Ajuste a altura de acordo com a altura do menu  */
.navbar {
    z-index: 1;
    position: relative;
}

.menu-aberto {
    padding-top: 180px;
}

/*altera cor padrão do menu de hamburgue*/
.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,217,0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");

}

/*altera cor padrão da borda do menu de hamburgue*/
.navbar-dark .navbar-toggler {
    border-color: rgba(255, 217, 0, 1);
}

.navbar-nav {
    align-items: flex-end;
    font-weight: bold;
}

.nav-link-black {
    color: black;
}

.nav-link-yellow {
    color: #ffd900;
    padding-right: 13px;
}

.mid-center {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/*botão padrao*/
.btn-default {
    background-color: black;
    font-weight: 600;
    color: white;
    box-shadow: 5px 4px 1px -1px rgba(255, 217, 0, 1);
    transition-duration: 0.4s;
    border-radius: 7px;

    display: block;
    margin-bottom: 6.25rem;
}

.btn-default:hover {
    background-color: rgba(255, 217, 0, 1);
    font-weight: 600;
    color: black;
    box-shadow: none;
    border: 2px solid #000;
}

.admin-options {
    position: absolute;
    top: 50%;
    right: 150px;
    transform: translateY(-50%);
}

.btn-cad-usuario {
    background-color: rgb(51, 51, 51);
    color: white;
    font-size: 28px;
    font-weight: bold;
    width: 250px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-cad-usuario:hover {
    background-color: rgb(22, 22, 22);
    color: white;
}

.btn-atualiza-usuario {
    background-color: rgb(27, 51, 95);
    color: white;
    font-size: 28px;
    font-weight: bold;
    width: 250px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-atualiza-usuario:hover {
    background-color: rgb(15, 33, 61);
    color: white;
}

.texto-botao-cima {
    font-size: 14px;
    padding: 7px 0 40px 2px;
}

.texto-botao-baixo {
    font-size: 14px;
    padding: 7px 0 0 2px;
}

.btn-cat {
    background-color: rgb(27, 51, 95);
    font-weight: 400;
    color: white;
    /* box-shadow: 5px 4px 1px -1px white; */
    transition-duration: 0.2s;
    border-radius: 7px;
}

.btn-cat:hover {
    background-color: rgb(15, 33, 61);
    color: white;
    box-shadow: none;
}

.icon-header {
    color: white;
    font-size: 30px;
}

.btn-header:hover {
    background-color: #f2fdff;

    .icon-header {
        color: #191919;
    }
}


.bg-cat {
    background-color: #a6c9e7;
    color: black;
}

.bg-tabValor {
    background-color: rgba(0, 0, 0, 0.15);
    color: black;
}

.btn-concluido {
    background-color: rgb(65, 214, 125);
    font-weight: 600;
    box-shadow: 5px 4px 1px -1px white;
    transition-duration: 0.2s;
    border-radius: 7px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 50px;
    margin-right: 105px;
}

.btn-concluido:hover {
    background-color: rgb(0, 129, 52);
    font-weight: 600;
    color: white;
    box-shadow: none;
}

.btn-atua-remove {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 50px;
    margin-right: 105px;
}

/*botão de atualizar produto*/
.btn-atualizar {
    background-color: rgb(65, 214, 125);
    font-weight: 600;
    box-shadow: 5px 4px 1px -1px white;
    transition-duration: 0.2s;
    border-radius: 7px;
}

.btn-atualizar:hover {
    background-color: rgb(0, 129, 52);
    font-weight: 600;
    color: white;
    box-shadow: none;
}

/*botão de remover produto*/
.btn-remover {
    background-color: rgb(214, 37, 76);
    font-weight: 600;
    color: white;
    box-shadow: 5px 4px 1px -1px white;
    transition-duration: 0.2s;
    border-radius: 7px;
}

.btn-remover:hover {
    background-color: rgb(160, 21, 58);
    font-weight: 600;
    color: white;
    box-shadow: none;
}


.input-valor {
    width: 120px;
}

.input-largura {
    width: 150px;
}

.cursor-pointer {
    cursor: pointer;
}

.form-check-input {
    background-color: #f2fdff;
    border-color: #191919;
}

.form-check-input:checked {
    background-color: #191919;
    border-color: #f2fdff;
}

.table-dark thead th {
    background-color: rgba(255, 217, 0, 1);
    color: black;
}

.table-rounded {
    border-collapse: separate;
    border-radius: 5px;
}

.table-rounded th,
.table-rounded td {
    border-left: 1px solid #343a40;
    /* Cor cinza que parece ser a cor padrão de fundo das tabelas dark no Bootstrap */
}

.table-rounded th:first-child,
.table-rounded td:first-child {
    border-left: none;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.table-rounded th:last-child,
.table-rounded td:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.fundo-formulario {
    background-color: rgba(0, 0, 0, 0.37);
    padding: 10px 30px;
    padding-bottom: 50px;
    border-radius: 15px;
    position: relative;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
    margin-left: 70px;
    /* width: 100%; */
}

.container-2 {
    margin-left: 30px;
}

.container-3 {
    width: 80vw;
    margin-left: 10vw;
}

#tabelaRegioes {
    width: 320px;
}

.custom-form {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.custom-form .form-group {
    flex: 1;
    margin: 0 10px;
    /* Ajuste o valor conforme necessário para o espaçamento desejado */
    text-align: center;
}


#planogramContainer {
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: start;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 20px;
    gap: 10px;
    background-color: transparent;
    ;
}

.module {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    border: 3px solid rgb(128, 128, 128);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 5px;
    /* min-width: 250px; */
}

.level {
    display: flex;
    flex-wrap: nowrap;
    border: 3px solid rgb(128, 128, 128);
    border-bottom: 1px solid #ccc;
    align-items: flex-end;
    /* gap: 10px; */
}

.item {
    /* padding: 5px; */
    border: 1px solid #000;
    border-radius: 5px;
    text-align: center;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    /* flex: 1 0 auto; */
    /* box-sizing: border-box; */
}

.item:hover {
    filter: brightness(90%);
}

.produtoItem {
    color: #fff;
    font-size: 18px;
}

.ul-legenda {
    column-count: 2;
}

@media (max-width: 768px) {

    /* Estilos para telas menores (responsividade) */
    .background {
        background-image: url(/assets/background-prateleira-mono.svg);
        background-size: 250%;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        top: 0px;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -2;
        filter: blur(1px);
    }

    .loginPad {
        padding-top: 150px;
    }

    .corpo-Login {
        height: 99vh;
        width: 100vw;
        padding: 20px;
        position: fixed;
        /* Reduza o preenchimento para dispositivos móveis */
        /* padding-top: 200px; */
    }

    .ul-legenda {
        column-count: 1;
    }
}